body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #111111;
  margin: 0;
  padding: 0;
}

header {
  background-color: #353131;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: #ddd;
}
.container-me h2{
 text-align: center;
}
.container-me p{
   text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #ddd;
}